/*
 * General styles
 */

body,
html {
  height: 100%;
  background-repeat: no-repeat;
  background-color: #d3d3d3;
}

.main {
  margin-top: 70px;
}

h1.title {
  font-size: 50px;
  font-weight: 400;
}

hr {
  width: 10%;
  color: #fff;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
  font-size: 11px;
  padding-top: 3px;
}

.main-login {
  background-color: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center {
  margin-top: 30px;
  margin: 0 auto;
  max-width: 400px;
  padding: 40px 40px;
}

.login-button {
  margin-top: 5px;
}

.login-register {
  font-size: 11px;
  text-align: center;
}
.btn-primary{
  background-color: #e60000;
  border-color: #e60000;
}
.btn-primary:hover{
  background-color: #464a4c;
  border-color: #464a4c;
}

.header{
  padding-bottom: 30px;
}

.error{
  border: 1px solid red;
  border-radius: .25rem;
}

.error-text{
  font-size: 14px;
  text-align: center;
  color:red;
}

.no-visible{
  display: none;
}

